<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download Pdf</title>
</head>
<body>
<h1><p><center><b>Click to download the bill:</b></center><p></h1>

<center>
    <a href="https://github.com/SumitDML/RBS/raw/main/Restaurant_Billing_System/src/main/resources/Restaurant%20Bill.pdf" download>
        <img src="https://github.com/SumitDML/RBS/blob/main/Restaurant_Billing_System/src/main/resources/templates/vector-download-download-button-illustration-data.jpg" width="500" height="225" >
    </a>

</center>
</body>
</html>